
server {
	listen 8080
	body_size 10240
	root ./asset/static/
	upload_path ./assest/static/
	server_name config.com
	timeout 10

	method GET POST DELETE
	error_page 404 404.html

	location / {
		method GET POST
		file_path index.html post.html login.html
		directory_list off
	}

	location /cgi-bin {
		method GET POST
		redirection ./assest/static/index.html
	}

	location /cgi-bin/something {
		root .asset/cgi-bin/
		method GET
		file_path cgi.html
		directory_list off
	}

	location /first/second/third {
		root ./asset/statc/
		method GET
		file_path first.html second.html third.html
	}

	location /cgi/caesar.py {
		cgi true
		method GET
		cgi_path ./cgi/caesar.py 
	}
}
