
server {
	listen 8080
	body_size 10240
	root ./asset/static/
	upload_path ./asset/static/
	timeout 10
	method GET POST DELETE
	error_page 404 404.html
	error_page 405 405.html
	error_page 501 501.html

	server_name config.com

	location / {
		file_path index.html post.html login.html
		method GET POST
		directory_list off
	}
	
	location /redir {
		file_path post.html
		method GET POST
		redirection ./asset/static/index.html
	}

	location /test {
		file_path login.html
		method GET POST
		directory_list on
	}

	location /test2 {
		root ./asset/
		file_path static/login.html
		method GET POST
	}

	location /cgi {
		root ./cgi/
		cgi true
		method GET
		cgi_path caesar.py caesar2.py
	}
}
