
server {
	listen 8080
	body_size 10240
	root assest/static/
	file_path index.html
	upload_path assest/static/

	server_name config.com
	timeout 10
	directory_list on

	method GET POST DELETE
	error_page 404 assest/static/index.html

	location /cgi-bin {
		root assest/static/
		method GET POST
		file_path index.html
		redirection /assest/static/
	}
	
	location .py {
		cgi_pass cgi/cgi.py
	}
}

server {
	listen 8081
	body_size 20480
	root assest/static/
	upload_path assest/static/
	method GET POST
	error_page 500 assest/static/index.html

	server_name default
	timeout 30

	location .py {
		cgi_pass cgi/cgi.py
	}
}
