log_path ./log/

server {
	listen 4242
	body_size 30
	root ./asset/static/
	upload_path ./asset/storage/
	timeout 5
	method GET POST DELETE
	error_page 404 404.html
	error_page 405 405.html
	error_page 501 501.html

	server_name config.com

	location / {
		file_path index.html cgi.html cgi_decode.html caesar.png ghost.png no_sign.png wallpapertip.jpg
		method GET POST
		directory_list off
	}

	location /post {
		file_path post.html
		method GET POST
		directory_list off
	}

	location /download {
		root ./asset/storage/
		file_path download.html
		method GET
		directory_list off
	}

	location /py {
		root ./cgi/
		file_path caesar_encode.py
		directory_list off
	}

	location /redir {
		file_path post.html
		method GET POST
		redirection ./asset/static/index.html
		directory_list on
	}

	location /dir_list {
		file_path index.html
		method GET POST
		directory_list on
	}

	location /test {
		root ./asset/
		file_path static/post405.html
		method GET POST
	}

	location /cgi {
		root ./cgi/
		cgi true
		method GET
		cgi_path caesar_decode.py caesar_encode.py
	}
}
