user					nobody;
worker_processes		auto;

charset				 utf-8;
default_type			application/octet-stream;
keepalive_timeout	   65;

sendfile				on;

server {
	listen 8442;
	keepalive_timeout 10;

	server_name fe.juneyr.dev;
	root /Users/hybae/Desktop/webserv/html;
	index index.html index.php;

	location /myPathPath {
		return 301 /redirectionPath;			
	}

	location / {
		index index.html index.php;
		autoindex on;
	}
}

server {
	listen 4242;
	keepalive_timeout 65;
	autoindex off;

	server_name kkkaskdmasd.com;
	root /Users/hybae/Desktop/webserv/static_html;
	index index.html pycgi.pya index.phpa hihi.htmla;
	error_page 403 403.html;
	limit_except GET POST DELETE;

	location / {
		index index.html;
		autoindex off;
	}
	location /da {
		index index.html;
		autoindex on;
	}
	location /etc/data {
		autoindex on;
	}
	location /etc/bar {
		index hihi.html index.html index.php;
		autoindex off;
	}
	location .py$ {
		cgi_pass /usr/bin/python3;
	}
	location .php$ {
		cgi_pass ./cgiBinary/php-cgi;
	}
	location /spark {
		rewrite /spark http://localhost:4242/post.html;
		break ;
	}
	location /kkim {
		rewrite /kkim http://localhost:4242/index.html;
		break ;
	}
    location /root_test {
		autoindex on;
		root /Users/hybae/Desktop/webserv/html;
	}
}

server {
	listen 8441;
	server_name fe.juneyr.dev;
	root /Users/hybae/Desktop/webserv/static_html;
	index index.html index.php;

	location /myPathPath {
		return 301 /redirectionPath;
	}
	location / {
		index index.html index.php;
		autoindex on;
	}
}