server {
	listen 127.0.0.1:8080
	server_name default
	method GET POST DELETE
	error_page 404 www/404/html
	body_size 10240

	location test/path {
		status_code 200
		directory_list on
		redirection jinho
		method GET POST
		file_path www/index.html www/default.html
	}

	location .py {
		status_code 404
		cgi_pass cgi/cgi.py
	}
}

server {
	listen 127.0.0.1:8081
	server_name default
	method GET POST
	error_page 500 www/500/html
	location test/path {
		status_code 200
		directory_list off
		redirection jinho2
		method GET
		file_path www/404.html www/405.html
	}

	location .php {
		status_code 500
		cgi_pass cgi/cgi.php
	}
}