server {
	listen 127.0.0.1:8080
	redirection default1

	server_name default
	method GET POST DELETE
	error_page www/404/html
	location test/path {
		status 200
		autoindex on
		redirection jinho1
		method GET POST
		file_path www/index.html www/default.html
	}

	location .py {
		status 404
		cgi_pass cgi/cgi.py
	}
}

server {
	listen 127.0.0.1:8081
	redirection default2

	server_name default
	method GET POST
	error_page www/404/html
	location test/path {
		status 200
		autoindex on
		redirection jinho2
		method GET
		file_path www/404.html www/405.html
	}

	location .php {
		status 500
		cgi_pass cgi/cgi.php
	}
}	redirection default1

	server_name default
	method GET POST DELETE
	error_page www/404/html
	location test/path {
		status 200
		autoindex on
		redirection jinho1
		method GET POST
		file_path www/index.html www/default.html
	}

	location .py {
		status 404
		cgi_pass cgi/cgi.py
	}
}

server {
	listen 127.0.0.1:8081
	redirection default2

	server_name default
	method GET POST
	error_page www/404/html
	location test/path {
		status 200
		autoindex on
		redirection jinho2
		method GET
		file_path www/404.html www/405.html
	}

	location .php {
		status 500
		cgi_pass cgi/cgi.php
	}
}