server {
	listen 8080
	error_page 404 html/index.html
	body_size 10240
	method GET POST DELETE

	server_name config

	keepalive_timeout 10
	
	root /root_path/

	location test/path {
		status_code 200
		method GET POST
		file_path html/index.html
		redirection 300 asdads
	}
	
	location .py {
		status_code 404
		cgi_pass cgi/cgi.py
	}
}

server {
	listen 8081
	keepalive_timeout 30
	body_size 20480
	method GET POST

	server_name default

	error_page 500 html/index.html

	location .py {
		status_code 500
		cgi_pass cgi/cgi.py
	}
}